/* login.component.scss */

.login-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  ::ng-deep mat-card-header {
    text-align: center !important;
    display: block !important;
    font-size: larger !important;
    font-weight: 700 !important;
  }

  ::ng-deep mat-card-title {
    font-size: larger !important;
    font-weight: 700 !important;
    padding-bottom: 20px !important;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  